@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #768fe4;
  --secondary: #f76565;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-fancy: "Times New Roman", Times, serif;

  --font-semifancy: Georgia, "Times New Roman", Times, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #402bca;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

button {
  cursor: pointer;
  transition: transform 0.3s;
}

button:hover {
  transform: scale(125%);
}

button:active {
  transform: scale(110%);
}

.github-button {
  animation: slumpAnimation 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes slumpAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
    filter: sepia(50%);
    opacity: 1;
  }
  100% {
    transform: translateY(50px) rotate(20deg);
    filter: sepia(50%);
    opacity: 0;
  }
}

.splash-text {
  animation: splashPulse 0.5s linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes splashPulse {
  0% {
    transform: translateX(150) translateY(-25) scale(100%) rotate(-10deg);
  }
  100% {
    transform: translateX(150) translateY(-25) scale(110%) rotate(-10deg);
  }
}
