@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-2: #b19bba;
  --foreground: #171717;
  --primary: #768fe4;
  --secondary: transparent;
}

@theme inline {
  --color-background: var(--background);
  --color-background2: var(--background-2);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-fancy: "Times New Roman", Times, serif;

  --font-semifancy: Georgia, "Times New Roman", Times, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background-2: #3e3641;
    --foreground: #ededed;
    --primary: #402bca;
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 45deg;
  inherits: false;
}

body {
  min-height: 100vh;
  margin: 0;

  background: linear-gradient(var(--gradient-angle), var(--background), var(--background-2));
  transform: rotateZ(0deg);
  animation: rotateInCircle 10s linear infinite;
  background-attachment: fixed;


  color: var(--foreground);
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

@keyframes rotateInCircle {
  from { --gradient-angle: 0deg; }
  to { --gradient-angle: 360deg; }
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  z-index: 0;

  transition:
    transform 0.3s,
    border 0.3s;
}

button:hover {
  z-index: 2;
  transform: scale(125%);
  border: 1px solid var(--secondary);
}

button:active {
  z-index: 1;
  transform: scale(110%);
  border: 1px solid var(--secondary);
}

.slump-animation {
  pointer-events: none;
  animation: slumpAnimation 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes slumpAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
    filter: sepia(50%);
    opacity: 1;
  }
  100% {
    transform: translateY(50px) rotate(20deg);
    filter: sepia(50%);
    opacity: 0;
  }
}

.splash-text {
  animation: splashPulse 0.5s linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes splashPulse {
  0% {
    transform: translateX(150) translateY(-25) scale(100%) rotate(-10deg);
  }
  100% {
    transform: translateX(150) translateY(-25) scale(110%) rotate(-10deg);
  }
}
